@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Regular.ttf');
    font-weight: 400;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
p,
span,
a,
header,
main,
footer,
section {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #151C22;
}

main {
    flex-grow: 1;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 67px;
}

.navigation__list {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    font-size: 16px;
    line-height: 19px;
}

.navigation__list--user {
    justify-content: flex-end;
}

.navigation__item {
    padding: 25px 5px;
    margin-right: 25px;
}

.navigation__item--active {
    font-weight: 700;
    text-underline-offset: 15px;
    text-decoration: underline;
    color: #151C22;
}

.navigation__item:hover,
.navigation__item:focus {
    opacity: 0.5;
}

.navigation__link--logo {
    margin: 0 auto;
}

.banner {
    background: #f1f2f4;
    min-height: 617px;
}

.banner__subtitle {
    color: #727A82;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.banner__slogan {
    font-family: 'Anton', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 128px;
    line-height: 193px;
    color: #151C22;
    text-transform: uppercase;
}

.button {
    max-width: 220px;
    padding: 27px 24px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    background-color: #151c22;
    box-sizing: border-box;
    text-align: center;
}

.banner__container {
    display: flex;
    justify-content: space-between;
}

.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 110px;
    padding: 50px;
}

.banner__image {
    padding: 50px;
    margin-right: 120px;
    box-sizing: border-box;
}
