@font-face {
    font-family: 'Circe';
    src: url('../../fonts/circe/300/circe_light.eot');
    src: url('../../fonts/circe/300/circe_light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/circe/300/circe_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Circe';
    src: url('../../fonts/circe/400/circe_regular.eot');
    src: url('../../fonts/circe/400/circe_regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/circe/400/circe_regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Circe';
    src: url('../../fonts/circe/700/circe_bold.eot');
    src: url('../../fonts/circe/700/circe_bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/circe/700/circe_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}

:root {
    --dark: #353a3e;
    --gray: #9a9c9e;
    --red: #015cab;
    --red-dark: #00417a;
    --max-width: 1320px;
    --min-width: 320px;
    --swiper-pagination-color: var(--red);
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-horizontal-gap: 8px;
    --swiper-pagination-bullet-inactive-opacity: .3;
}

body,
html {
    height: 100%;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    margin: 0;
    color: var(--dark);
    font: 400 16px/24px Circe, sans-serif;
    background: var(--dark) url("./img/backgrounds/bg_main.jpg") top/100% auto no-repeat;
}

a,
button,
input,
textarea {
    outline: none;
}

a {
    color: inherit;
    cursor: pointer;
    transition: color .3s, background-color .3s, border-color .3s;
    background-color: transparent;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    min-width: var(--min-width);
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.site-header {
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.sh-line {
    color: #fff;
    left: 0;
    padding: 20px 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform .3s, background-color .6s;
    display: flex;
    justify-content: space-between;
}

.logo {
    align-items: flex-start;
    display: flex;
    flex: 0 0 33.33%;
    flex-basis: 33.33%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    max-width: 33.33%;
    padding-left: 20px;
    text-align: left;
}

.sh-drop__note {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    min-width: 220px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
}

.sh-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
    margin: 11px 35px 0;
    padding: 0;
    position: relative;
}

.sh-links__item:not(:last-child) {
    text-align: right;
    flex: 0 0 auto;
    margin-right: 35px;
}

.sh-links__link {
    opacity: .5;
    font-size: 16px;
}

.is-active {
    opacity: 1;
}

.sh-links__link:hover {
    opacity: 1;
}

.sh-links__link-note {
    display: block;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #fff;
}

.price {
    padding-top: 150px;
    width: 100%;
    height: 100vh;
}

.price::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background-color: #444;
    opacity: .75;
    z-index: -1;
}

.sec-intro__title {
    color: #fff;
    font-size: 42px;
    font-weight: 400;
    line-height: 62px;
    margin: 0 0 20px;
    text-transform: uppercase;
    opacity: 1;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

table {
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    color: #fff;
}

thead,
tbody,
tr {
    display: contents;
    box-sizing: border-box;
}

th,
td {
    box-sizing: border-box;
    padding: 30px;
    font-size: 20px;
    border-bottom: 1px solid rgba(154, 156, 158, 0.5);
    border-collapse: collapse;
    text-align: center;
}

th {
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.td-same {}

.td-center {
    padding-top: 40px;
}
