@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Regular.ttf');
    font-weight: 400;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
p,
span,
a,
header,
main,
footer,
section {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #151C22;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

.main-header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 67px;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    list-style: none;
    font-size: 16px;
    line-height: 19px;
}

.navigation__list--user {
    justify-content: flex-end;
}

.navigation__item {
    padding: 27px 5px 23px;
    margin-right: 25px;
    cursor: pointer;
}

.navigation__item--user {
    margin-right: 20px;
}

.navigation__item--user:last-child {
    margin: 0;
}

.navigation__item--active {
    font-weight: 700;
    text-underline-offset: 15px;
    text-decoration: underline;
    color: #151C22;
}

.navigation__item:hover,
.navigation__item:focus {
    opacity: 0.5;
}

.navigation__link--logo {
    margin: 0 auto;
}

/* MAIN */
main {
    flex-grow: 1;
}

.index__section {
    padding: 50px 0;
}

.banner {
    background: #f1f2f4;
    min-height: 617px;
}

.banner__subtitle {
    color: #727A82;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.banner__slogan {
    font-family: 'Anton', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 128px;
    line-height: 143px;
    color: #151C22;
    text-transform: uppercase;
}

.button {
    max-width: 220px;
    padding: 20px 22px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    background-color: #151c22;
    box-sizing: border-box;
    text-align: center;
}

.banner__container {
    display: flex;
    justify-content: space-between;
}

.banner__text {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    padding: 185px 50px 50px;
}

.banner__image {
    padding: 50px;
    margin-right: 120px;
    background: url(../images/index/diagonal.png) top left no-repeat, url(../images/index/diagonal.png) bottom right no-repeat;
}

/* Bestseller */

.subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.section__link {
    text-underline-offset: 10px;
    text-decoration: underline;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.catalog__item:not(:last-child) {
    margin-right: 30px;
}

.catalog__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    order: 1;
    margin-bottom: 5px;
}

.catalog__link {
    display: flex;
    flex-direction: column;
}

.catalog__image {
    object-fit: cover;
    margin-bottom: 20px;
}

.price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    order: 2;
}

/* NEWS */

.news__wrapper {
    display: flex;
    flex-direction: row-reverse;
    min-height: 462px;
}

.news__background {
    min-width: 470px;
    background: url("../images/index/news_bg.png") right no-repeat;
}

.news__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 27px;
}

.news__column-text {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
    padding: 52px 47px 28px 43px;
    max-width: 400px;
    background: #f1f2f4;
    box-sizing: border-box;
}

.news__time {
    display: block;
    font-weight: 400;
    margin-bottom: 13px;
}

.news__text {
    font-weight: 400;
    color: #727A82;
    margin-bottom: 24px;
}

.news__image {}

/* FOOTER */
footer {
    background: #000;
    min-height: 222px;
}

.footer__navigation {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    box-sizing: border-box;
}

.footer__logo {
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 10px;
}

.navigation__list--footer {
    justify-content: center;
    width: 50%;
    margin-bottom: 10px;
}

.social__list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social__item {
    margin: 0 30px 0 0;
    padding: 5px;
    height: 40px;
    box-sizing: border-box;
}

.social__item:last-child {
    margin: 0;
}

.social__link:hover {
    opacity: 0.5;
}


/* ACTIONTIMER */
section.action {
    background: #151C22;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.actiontext {
    font-family: 'Anton', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 48px;
    height: 48px;
}

.actiontimer {
    display: inline-block;
    vertical-align: baseline;
    height: 48px;
}

.actiontimer span {
    display: inline-block;
    vertical-align: baseline;
    text-align: left;
    width: 100px;
}

.actiontimer b {
    display: inline-block;
    vertical-align: baseline;
    text-align: right;
    width: 45px;
    font-size: 40px;
    margin: 0 8px;
}

.actiontimer b:first-child {
    width: auto;
}
